<?xml version="1.0" encoding="utf-8"?>
<language>
    <entry name="Audio" value="Áudio"/>
    <entry name="Audio/AmbientVolume" value="Volume Ambiente"/>
    <entry name="Audio/AmbientVolumeHint" value="Regula o volume ambiente."/>
    <entry name="Audio/CinematicVolume" value="Volume Cinematográfico"/>
    <entry name="Audio/CinematicVolumeHint" value="Regula o volume das cenas cinematográficas."/>
    <entry name="Audio/EffectVolume" value="Volume do Efeito"/>
    <entry name="Audio/EffectVolumeHint" value="Regula o volume dos efeitos."/>
    <entry name="Audio/HRTF" value="HRTF"/>
    <entry name="Audio/InterfaceVolume" value="Volume da Interface"/>
    <entry name="Audio/InterfaceVolumeHint" value="Regula o volume da interface."/>
    <entry name="Audio/MasterVolume" value="Volume principal"/>
    <entry name="Audio/MasterVolumeHint" value="Regula o volume mestre."/>
    <entry name="Audio/MusicVolume" value="Volume da música"/>
    <entry name="Audio/MusicVolumeHint" value="Regula o volume da música."/>
    <entry name="Audio/OutputDevice" value="Dispositivo de saída"/>
    <entry name="Audio/OutputDeviceHint" value=""/>
    <entry name="Audio/VoiceVolume" value="Volume de Voz"/>
    <entry name="Audio/VoiceVolumeHint" value="Regula o volume das vozes."/>
    <entry name="Controls" value="Controles"/>
    <entry name="Controls/Cancel" value="Cancelar"/>
    <entry name="Controls/Cargo0" value="Carga 1"/>
    <entry name="Controls/Cargo1" value="Carga 2"/>
    <entry name="Controls/Cargo2" value="Carga 3"/>
    <entry name="Controls/Cargo3" value="Carga 4"/>
    <entry name="Controls/Cargo4" value="Carga 5"/>
    <entry name="Controls/Cargo5" value="Carga 6"/>
    <entry name="Controls/Cargo6" value="Carga 7"/>
    <entry name="Controls/Cargo7" value="Carga 8"/>
    <entry name="Controls/Cargo8" value="Carga 9"/>
    <entry name="Controls/Cargo9" value="Carga 10"/>
    <entry name="Controls/Chat" value="Bater papo"/>
    <entry name="Controls/ForceEndTurn" value="Forçar giro final"/>
    <entry name="Controls/MarkTile" value="Marcar Azulejo"/>
    <entry name="Controls/NextMusicTrack" value="Próxima faixa musical"/>
    <entry name="Controls/NextTask" value="Próxima tarefa"/>
    <entry name="Controls/OK" value="OK"/>
    <entry name="Controls/OpenCompendiumScreen" value="Abra a tela do Compêndio"/>
    <entry name="Controls/OpenQuestsScreen" value="Abra a tela de missões"/>
    <entry name="Controls/OpenResearchScreen" value="Abrir Tela de Pesquisa"/>
    <entry name="Controls/PlayerAction0" value="Acao do Jogador 1"/>
    <entry name="Controls/PlayerAction1" value="Acao do Jogador 2"/>
    <entry name="Controls/PlayerAction2" value="Acao do Jogador 3"/>
    <entry name="Controls/PlayerAction3" value="Acao do Jogador 4"/>
    <entry name="Controls/PlayerAction4" value="Acao do Jogador 5"/>
    <entry name="Controls/PlayerAction5" value="Acao do Jogador 6"/>
    <entry name="Controls/PlayerAction6" value="Acao do Jogador 7"/>
    <entry name="Controls/PlayerAction7" value="Acao do Jogador 8"/>
    <entry name="Controls/PlayerAction8" value="Acao do Jogador 9"/>
    <entry name="Controls/PlayerAction9" value="Acao do Jogador 10"/>
    <entry name="Controls/QuickLoad" value="Carregamento Rápido"/>
    <entry name="Controls/QuickSave" value="Salvamento rapido"/>
    <entry name="Controls/ReloadModifiedResources" value="Recarregar recursos modificados"/>
    <entry name="Controls/SaveJPGScreenShot" value="Salvar captura de tela JPG"/>
    <entry name="Controls/SaveJPGScreenShotWithoutHUD" value="Salvar captura de tela JPG sem HUD"/>
    <entry name="Controls/SavePNGScreenShot" value="Salvar captura de tela PNG"/>
    <entry name="Controls/SavePNGScreenShotWithoutHUD" value="Salvar captura de tela PNG sem HUD"/>
    <entry name="Controls/ScrollDown" value="Rolar para baixo"/>
    <entry name="Controls/ScrollLeft" value="Role para a esquerda"/>
    <entry name="Controls/ScrollRight" value="Role para a direita"/>
    <entry name="Controls/ScrollUp" value="Role para cima"/>
    <entry name="Controls/SelectNext" value="Selecione Próximo"/>
    <entry name="Controls/SelectPrevious" value="Selecione Anterior"/>
    <entry name="Controls/ToggleDebugPanel" value="Alternar painel de depuracao"/>
    <entry name="Controls/ToggleDisplayMode" value="Alternar modo de exibicao"/>
    <entry name="Controls/ToggleFPSDisplay" value="Alternar exibicao de FPS"/>
    <entry name="Controls/ToggleHUD" value="Alternar HUD"/>
    <entry name="Controls/ToggleLoadScreen" value="Alternar tela de carregamento"/>
    <entry name="Controls/ToggleMixerPanel" value="Alternar painel do mixer"/>
    <entry name="Controls/ToggleSaveScreen" value="Alternar salvar tela"/>
    <entry name="Controls/ToggleSettingsScreen" value="Alternar tela de configurações"/>
    <entry name="Controls/ToggleStatsPanel" value="Alternar painel de estatísticas"/>
    <entry name="Controls/ToggleUnitOverlay" value="Alternar sobreposicao de unidade"/>
    <entry name="Controls/ToggleYieldOverlay" value="Alternar sobreposicao de rendimento"/>
    <entry name="Controls/UnitAction0" value="Acao Unitária 1"/>
    <entry name="Controls/UnitAction1" value="Acao Unitária 2"/>
    <entry name="Controls/UnitAction2" value="Acao Unitária 3"/>
    <entry name="Controls/UnitAction3" value="Acao Unitária 4"/>
    <entry name="Controls/UnitAction4" value="Acao Unitária 5"/>
    <entry name="Controls/UnitAction5" value="Acao Unitária 6"/>
    <entry name="Controls/UnitAction6" value="Acao Unitária 7"/>
    <entry name="Controls/UnitAction7" value="Acao Unitária 8"/>
    <entry name="Controls/UnitAction8" value="Acao Unitária 9"/>
    <entry name="Controls/UnitAction9" value="Acao Unitária 10"/>
    <entry name="Controls/UnitAction10" value="Acao Unitária 11"/>
    <entry name="Controls/UnitAction11" value="Acao Unitária 12"/>
    <entry name="Controls/UnitAction12" value="Acao Unitária 13"/>
    <entry name="Controls/UnitAction13" value="Acao Unitária 14"/>
    <entry name="Controls/UnitAction14" value="Acao Unitária 15"/>
    <entry name="Controls/UnitItem0" value="Item da Unidade 1"/>
    <entry name="Controls/UnitItem1" value="Item da Unidade 2"/>
    <entry name="Controls/UnitItem2" value="Item da Unidade 3"/>
    <entry name="Controls/UnitItem3" value="Item da Unidade 4"/>
    <entry name="Controls/UnitItem4" value="Item da Unidade 5"/>
    <entry name="Controls/UnitItem5" value="Item da Unidade 6"/>
    <entry name="Controls/UnitItem6" value="Item da Unidade 7"/>
    <entry name="Controls/UnitItem7" value="Item da Unidade 8"/>
    <entry name="Controls/UnitItem8" value="Item da Unidade 9"/>
    <entry name="Controls/UnitItem9" value="Item da Unidade 10"/>
    <entry name="General" value="Em geral"/>
    <entry name="General/AnimationSpeed" value="Velocidade da animacao"/>
    <entry name="General/AnimationSpeedHint" value=""/>
    <entry name="General/AutoCycleUnits" value="Unidades de Autociclo"/>
    <entry name="General/AutoCycleUnitsHint" value="Ciclo automático para a próxima unidade ociosa."/>
    <entry name="General/AutoSendReports" value="Enviar estatísticas de uso e relatórios de falhas"/>
    <entry name="General/Language" value="Linguagem"/>
    <entry name="General/ResetTips" value="Redefinir dicas"/>
    <entry name="General/ResetTipsHint" value="Redefina as dicas do jogo para que elas sejam exibidas novamente."/>
    <entry name="General/ScrollAcceleration" value="Aceleracao de rolagem"/>
    <entry name="General/ScrollAccelerationHint" value=""/>
    <entry name="General/ScrollSpeed" value="Velocidade de rolamento"/>
    <entry name="General/ScrollSpeedHint" value=""/>
    <entry name="General/ScrollToAction" value="Rolagem automática para acao"/>
    <entry name="General/ScrollToActionHint" value="A câmera rola automaticamente para qualquer acao acontecendo durante o turno da IA."/>
    <entry name="General/ShowBarks" value="Mostrar latidos"/>
    <entry name="General/ShowBarksHint" value="A unidade de exibicao late."/>
    <entry name="General/ShowCinematics" value="Mostrar Cinemática"/>
    <entry name="General/ShowCinematicsHint" value="Exibir cenas cinematográficas."/>
    <entry name="General/ShowPerformance" value="Mostrar desempenho"/>
    <entry name="General/ShowPerformanceHint" value="Exibir informações de desempenho."/>
    <entry name="General/ShowSubtitles" value="Mostrar legendas"/>
    <entry name="General/ShowSubtitlesHint" value="Exibir legendas na parte inferior das cenas cinematográficas que traduzem ou transcrevem o diálogo e a narrativa."/>
    <entry name="General/ShowTips" value="Mostre as dicas"/>
    <entry name="General/ShowTipsHint" value="Exibir dicas úteis de jogo."/>
    <entry name="Network" value="Rede"/>
    <entry name="Network/ListenPort" value="Porta de escuta"/>
    <entry name="Network/PreferRelayedData" value="Prefira dados retransmitidos"/>
    <entry name="Network/RemoteAddress" value="Endereço Remoto"/>
    <entry name="Network/RemotePort" value="Porta Remota"/>
    <entry name="Video" value="Vídeo"/>
    <entry name="Video/AnisotropicFiltering" value="Filtragem anisotrópica"/>
    <entry name="Video/AnisotropicFilteringHint" value=""/>
    <entry name="Video/Brightness" value="Brilho"/>
    <entry name="Video/BrightnessHint" value=""/>
    <entry name="Video/CloudShadows" value="Sombras de Nuvens"/>
    <entry name="Video/CloudShadowsHint" value=""/>
    <entry name="Video/Contrast" value="Contraste"/>
    <entry name="Video/ContrastHint" value=""/>
    <entry name="Video/DepthFog" value="Névoa Profunda"/>
    <entry name="Video/DepthFogHint" value=""/>
    <entry name="Video/DepthOfField" value="Profundidade de Campo"/>
    <entry name="Video/DepthOfFieldHint" value=""/>
    <entry name="Video/Device" value="Dispositivo"/>
    <entry name="Video/DeviceHint" value=""/>
    <entry name="Video/DisplayMode" value="Modo de exibicao"/>
    <entry name="Video/DisplayMode0" value="Tela cheia"/>
    <entry name="Video/DisplayMode1" value="Janela"/>
    <entry name="Video/DisplayMode2" value="Janela sem decoracao"/>
    <entry name="Video/FixedTimeOfDay" value="Hora fixa do dia"/>
    <entry name="Video/FixedTimeOfDayHint" value=""/>
    <entry name="Video/FixedTimeOfDayAt" value="Hora fixa do dia em"/>
    <entry name="Video/FixedTimeOfDayAtHint" value=""/>
    <entry name="Video/FXAA" value="Anti-aliasing"/>
    <entry name="Video/FXAAHint" value="Reduz o serrilhado suavizando as bordas com FXAA, mas pode reduzir o desempenho. Depende do poder de computacao da sua placa gráfica."/>
    <entry name="Video/Gamma" value="Gama"/>
    <entry name="Video/GammaHint" value=""/>
    <entry name="Video/GUIScale" value="Escala GUI"/>
    <entry name="Video/GUIScaleCustom" value="Personalizado: %1%%%"/>
    <entry name="Video/GUIScaleHint" value="Dimensiona a interface gráfica do usuário."/>
    <entry name="Video/MaxFocusedTickrate" value="FPS Máximo Focado"/>
    <entry name="Video/MaxFocusedTickrateHint" value=""/>
    <entry name="Video/MaxMinimizedTickrate" value="FPS máximo minimizado"/>
    <entry name="Video/MaxMinimizedTickrateHint" value=""/>
    <entry name="Video/MaxUnfocusedTickrate" value="Máximo FPS sem foco"/>
    <entry name="Video/MaxUnfocusedTickrateHint" value=""/>
    <entry name="Video/Monitor" value="Monitor"/>
    <entry name="Video/MonitorHint" value=""/>
    <entry name="Video/MultiThreadedRendering" value="Renderizacao Multithread"/>
    <entry name="Video/MultiThreadedRenderingHint" value="Usa vários núcleos de CPU para renderizacao, o que pode aumentar o desempenho. Desabilitar esta configuracao pode remover possíveis artefatos visuais."/>
    <entry name="Video/Resolution" value="Resolucao"/>
    <entry name="Video/ResolutionHint" value="Permite alterar a resolucao de exibicao do jogo. Resoluções mais altas resultarão em maior clareza, mas afetarão muito o desempenho."/>
    <entry name="Video/ShadowQuality" value="Qualidade da sombra"/>
    <entry name="Video/ShadowQuality0" value="Baixo"/>
    <entry name="Video/ShadowQuality1" value="Médio"/>
    <entry name="Video/ShadowQuality2" value="Alto"/>
    <entry name="Video/ShadowQualityHint" value="Determina o tamanho do mapa de sombras usado para renderizar sombras. Uma qualidade de sombra mais alta resultará em sombras mais detalhadas, mas requer uma placa gráfica mais poderosa."/>
    <entry name="Video/ShowCliffHighlights" value="Mostrar destaques do penhasco"/>
    <entry name="Video/ShowCliffHighlightsHint" value="Exiba linhas tracejadas para destacar falésias."/>
    <entry name="Video/ShowGrid" value="Mostre as grades"/>
    <entry name="Video/ShowGridHint" value="Exiba a grade de aterramento."/>
    <entry name="Video/TextureQuality" value="Qualidade da textura"/>
    <entry name="Video/TextureQuality0" value="Baixo"/>
    <entry name="Video/TextureQuality1" value="Médio"/>
    <entry name="Video/TextureQuality2" value="Alto"/>
    <entry name="Video/VerticalSynchronization" value="Sincronizacao Vertical"/>
    <entry name="Video/VerticalSynchronization-1" value="Adaptativo"/>
    <entry name="Video/VerticalSynchronization0" value="Nenhum"/>
    <entry name="Video/VerticalSynchronization1" value="Regular"/>
    <entry name="Video/VerticalSynchronizationHint" value="Sincroniza sua taxa de quadros com a taxa de atualizacao do seu monitor."/>
    <entry name="World" value="Mundo"/>

    <entry name="Audio/HRTFHint" value="Solicite mixagem usando uma funcao de transferência relacionada à cabeça ou HRTF.<br/><br/>O HRTF pode fornecer melhor acuidade espacial ao usar fones de ouvido usando filtros especiais projetados para replicar como os sons são afetados pelo formato da cabeça do ouvinte conforme eles vêm de uma determinada direcao.<br/><br/>Solicitar a mixagem do HRTF pode causar o problema. AL para reconfigurar o dispositivo para um modo de saída específico e restringir os valores de frequência utilizáveis.<br/><br/><style color='GUI/Yellow'/>Um aviso: embora o HRTF possa soar bem com fones de ouvido, ele pode resultar no aumento do uso de recursos e pode não soar muito bem com alto-falantes comuns, principalmente se o usuário tiver saída de som surround."/>
	<entry name="General/AutoSendReportsHint" value="Envie automaticamente estatísticas de uso e relatórios de falhas para o Proxy Studios para ajudar a melhorar os recursos, estabilidade e desempenho do jogo.<br/><br/><style color='GUI/Yellow'/>A privacidade é importante para nós. Nós nos esforçamos para coletar apenas o que precisamos para melhorar o jogo para todos. Os dados coletados incluem interações anônimas com o jogo (como número de tentativas e falhas de conexão multijogador, tipos de jogos iniciados, recursos usados, botões clicados e tempo de jogo), bem como informações técnicas anonimizadas (como versão e idioma do jogo, operacao configuracao do sistema e hardware e informações básicas sobre travamentos e erros). Estes dados são processados de acordo com o interesse legítimo de fornecer um produto confiável e de alta qualidade; ele é armazenado por até 1 ano e nunca é compartilhado com terceiros."/>
	<entry name="General/LanguageHint" value="Especifica a linguagem escrita.<br/><br/><style color='GUI/Red'/>Alterar esta configuracao requer a reinicializacao do jogo para ter efeito."/>
	<entry name="Network/ListenPortHint" value="A porta TCP local a ser usada ao hospedar um jogo multijogador.<br/><br/><style color='GUI/Yellow'/>Se você tiver problemas de conexão, permita esta porta em seu firewall e encaminhe-a para a máquina que executa o jogo em seu roteador. Pesquise na Internet por 'Port Forwarding' para obter instruções para o seu roteador."/>
	<entry name="Network/PreferRelayedDataHint" value="Em vez de conectar-se diretamente ao host, retransmita todos os dados por meio de um servidor de retransmissão, se houver algum disponível.<br/><br/>Isso aumentará a latência da rede.<br/><br/>Quando desativado, os dados ainda serão retransmitidos se a conexão direta inicial falhar.<br/><br/><style color='GUI/Yellow'/>Use apenas se estiver enfrentando problemas de conexão e não conseguir resolvê-los de outra forma."/>
	<entry name="Video/DisplayModeHint" value="Permite alterar o modo de exibicao do jogo. Os modos de janela podem causar queda no desempenho.<br/><br/><style color='GUI/Yellow'/>O modo de janela pode funcionar melhor para gravacao na resolucao nativa."/>
	<entry name="Video/TextureQualityHint" value="Determina o tamanho das texturas usadas ao longo do jogo. Uma qualidade de textura mais alta resultará em terrenos e unidades mais detalhados, mas requer mais memória de vídeo (VRAM).<br/><br/>Baixa: 1 GB<br/>Média: 2 GB<br/>Alta: 3 GB"/>
</language>